* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    color: #333;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Navbar styles */

nav {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
  
.logo a {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}
  
.nav-links li {
    display: inline-block;
    margin-left: 20px;
}
  
.nav-links a {
    color: #fff;
    text-decoration: none;
}
   
 /* "Registration" styles */

.creation {
    padding: 15px 0px 40px;
    background-color: #f4f4f4;
}
  
.creation h2 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 40px;
}
  
.creation-block {
    background-color: #fff;
    padding: 30px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-bottom: 30px;
}
  
.creation-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.creation-form-field {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.creation-form-name {
    color: #000;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 8px;
}

.creation-form-input {
    background: #FFFFFF;
    border: 1px solid #333;
    border-radius: 8px;
    height: 48px;
    font-weight: 400;
    font-size: 16px;
    color: #000;
    padding: 4px 8px;
}

.creation-form-btn {
    background: #333;
    border-radius: 8px;
    padding: 12px 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    cursor: pointer;
    border: 0;
    margin-top: 24px; 
    margin-bottom: 10px;
}

.message {
    border: 2px solid rgb(255, 33, 33);
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 16px;
}

  /* Footer styles */

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
  
.footer-links li {
    display: inline-block;
    margin-left: 20px;
}
  
.footer-links a {
    color: #fff;
    text-decoration: none;
}